.contacts {
&__title {
  font-size: 50px;
}
&__text {
  font-family: @font-base;
  font-weight: 700;
}
&__info {
  color: @color-extra;
  font-style: normal;
  a {
    color: @color-extra;
    text-decoration: none;
  }
}
}
