.contacts {
  &__title {
    font-size: 50px;
  }
  &__text {
    font-family: @opensbold;
  }
  &__info {
    color: @pink;
    font-style: normal;
    a {
        color: @pink;
        text-decoration: none;
      }
    }
}
