.form {
  &__title {
    font-size: 14px;
    color: @pink;
    text-transform: uppercase;
  }
  &__phone {
    font-size: 14px;
    color: @pink;
    text-transform: uppercase;
  }
  &__email {
    font-size: 14px;
    color: @pink;
    text-transform: uppercase;
  }
  &__required {
    font-size: 14px;
    text-transform: uppercase;
  }
  &__required-color {
    color: @pink;
  }
}
