.post {
  list-style: none;

  &__title {
    font-family: @font-base;
    font-weight: 700;
    font-size: 12px;
  }

  &__time {
    font-family: @font-base;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__description {
    font-size: 12px;
  }

  &__likes {
    font-size: 12px;
  }
}
