.prices {
  background-color: #eeeeee;
    &__value {
      font-family: @opensbold;
      background-color: #283645;
      color: white;
    }
    &__value--empty {
      background-color: #eeeeee;
    }
    &__field {
      background-color: white;
    }
    &__cost {
      font-family: @opens;
    }
}
